::before,
::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier", sans-serif;
}

nav,
footer {
  color: snow;
  background-color: rgb(19, 19, 19);
  font-weight: bold;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px;
  padding: 5px 0;
}

nav > a {
  text-decoration: none;
  color: snow;
}

#homepage,
.model-pictures {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

#homepage {
  margin-bottom: 100px;
}

#car-selector {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
}

.model-pictures {
  margin-top: 10px;
}

.header,
figcaption {
  text-align: center;
}

label {
  font-weight: bold;
}

img {
  width: 100%;
  max-width: 500px;
}

button {
  padding: 5px;
  border: 2px solid;
  background-color: snow;
  border-radius: 3px;
  letter-spacing: 1.5px;
}

#contact-form {
  display: flex;
  flex-flow: column wrap;
  margin: 0 20vw;
  gap: 10px;
}

#contact-form > label {
  font-weight: bold;
  letter-spacing: 1.5px;
}

footer {
  letter-spacing: 1.5px;
  width: 100%;
  height: max-content;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 5px;
  padding: 10px;
}

#footer-contact-info {
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
}

@media screen and (min-width: 266px) {
  nav {
    padding: 10px;
  }
  #car-selector {
    padding: 0 15vw;
    flex-flow: column wrap;
  }

  #contact-form {
    flex-flow: column wrap;
    margin: 0 20vw;
  }
}

@media screen and (min-width: 350px) {
  #car-selector {
    max-width: 400px;
  }

  nav {
    justify-content: space-evenly;
  }

  input {
    padding: 20px;
  }

  footer {
    padding: 2vh 12vw;
  }
}

@media screen and (min-width: 500px) {
  #car-selector {
    padding: 0 20vw;
  }
}

@media screen and (min-width: 800px) {
}

/*****END OF FILE!!!*****/
